<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Registro</h3>
                                </div>
                                <h6 class="h5 mb-0">Formulario de registro de usuarios</h6>
                                <p class="text-muted mt-2 mb-5">Desde este formulario podrá registrar los usuarios del sistema por lo que es muy importante que se lean los terminos que tiene que cumplir cada usuario.</p>
                               
                                <form
                                    id="registerform"
                                    autocomplete="off"
                                    [formGroup]="registerForm"
                                    (ngSubmit)="crearUsuario()">
                                    <div class="form-group">
                                        <label for="yourName">Nombre</label>
                                        <input type="text" 
                                                class="form-control" 
                                                id="nombre"
                                                placeholder="Nombre"
                                                formControlName="nombre" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">correo</label>
                                        <input type="correo" 
                                                class="form-control" 
                                                id="correo"
                                                placeholder="correo"
                                                formControlName="correo" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="Password">Password</label>
                                        <input type="password" 
                                                class="form-control" 
                                                id="Password" 
                                                placeholder="password"
                                                formControlName="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password_confirmation">Confirmar Password</label>
                                        <input type="password" 
                                                class="form-control" 
                                                id="password_confirmation" 
                                                placeholder="password_confirmation"
                                                formControlName="password_confirmation" />
                                    </div>
                                    <br>
                                    <div class="form-group row mb-5">
                                        <div class="col-md-12">
                                            <div class="checkbox checkbox-primary p-t-0">
                                                <input id="terminos" 
                                                       type="checkbox"
                                                       formControlName="terminos">
                
                                                <label for="terminos">&nbsp; Estoy de acuerdo con los <a href="#">Terminos</a></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="this.registerForm.invalid && this.formSubmitted " >
                                        <div class="alert alert-danger" role="alert">
                                        <p *ngIf="campoNoValido('nombre')">* El nombre es obligatorio</p>
                                        <p *ngIf="campoNoValido('correo')">* El correo es obligatorio y tiene que ser válido</p>
                                        <p *ngIf="contrasenasNoValidas()">* Las contraseñas deben ser iguales</p> 
                                        <p *ngIf="aceptaTerminos()">* Debe de aceptar los términos de uso</p>
                                        </div>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-theme">Registrarme</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <img src="../../../assets/images/familia_register.jpg" class="img-fluid" id="foto_mia" >
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>

            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>

